* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    background-color: #af1a71;
    list-style: none;
    align-items: center;
    justify-items: center;
}

.navici {
    width: 30%;
    transition: transform 2s;
}

.navici:hover {
    transform: scale(1.1);
}

.btn {
    border-radius: 20%;
    padding: 25%;
    background-color: transparent;
    color: white;
    transition: backround-color 5s, color 1s;
    border: 1px solid snow;
}

.kayıtbtn {
    border-radius: 20%;
    padding: 25%;
    background-color: transparent;
    color: white;
    transition: backround-color 5s, color 1s;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid snow;
    border-radius: 0%;
}


.btn:hover {
    color: white;
    border-bottom: 5px solid #FFC8BD;
}

.kayıtbtn:hover {
    color: var(--backround-color);
    background-color: wheat;
    border-bottom: 5px solid grey;
}


#buybutton {
    display: flex;
    background-color: yellow;
    margin: 5% auto;
    text-align: center;
    height: 50px;
    text-decoration: none;
}

.menu {
    background: linear-gradient(45deg, #EEEEEE, #b4b2db, #F25292, #FEA096);
    display: flex;
    padding: 1%;
    width: 100%;
    justify-content: start;
    align-content: start;
    flex-wrap: wrap;

}

.menuitem1 {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    padding: 3%;
    width: 33%;
    text-align: center;
}


.menuitem2 {
    width: calc(100% - 33%);
}

.menuitem2 img {
    position: relative;
    width: 100%;
    animation-name: vicecity;
    animation-duration: 1s;
    animation-direction: alternate;
    transition-timing-function: ease-out;
}

@keyframes vicecity {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

.menuitem3 {
    padding: 15px;
    width: 100%;
}

.menuitem3 img {
    position: relative;
    width: 75%;
    animation-name: vicecity2;
    animation-duration: 1s;
    animation-direction: alternate;
    transition-timing-function: ease-out;
    display: flex;
    left: 12.5%;
    align-content: center;
    justify-content: center;
}

@keyframes vicecity2 {
    from {
        left: -100%;
    }

    to {
        left: 12.5%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(-5deg);
        /* Başlangıç açısı: 0 derece */
    }

    to {
        transform: rotate(5deg);
        /* Bitiş açısı: 360 derece (bir tur) */
    }
}


.menuitem4 {
    background-image: url(https://cdn2.unrealengine.com/egs-grandtheftautovicecitythedefinitiveedition-rockstargames-g1a-00-1920x1080-a93053f8548a.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-color: chocolate;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
}

/* alt tabaka */
.menuitem4-i {
    display: flex;
    width: 45%;
    padding: 2%;
    margin: 1%;
    align-items: center;
    animation: rotate 7s infinite;
    animation-direction: alternate;
}

.menuitem4-i:hover {
    scale: 1.2;
}


/** buy menu */
.menuitem5 {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

.buy1 {
    width: 44%;
    order: 1;
}

.buy1 img {
    display: block;
    margin: auto;
    width: 50%;
}

.buy2 {
    padding: 5%;
    width: calc(100% - 44%);
    order: 2;
}

#buy2img {
    width: 100%;
}

#pegi {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 5%);
    justify-content: center;
}

#pegi18 {
    width: 100%;
}

.pcps5 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 10%);
    justify-content: center;
}


.css-1vemnlb {
    background-color: whitesmoke;
    cursor: pointer;
}

.pcps5 button:hover {
    box-shadow: 0px 13px 15px rgba(184, 28, 28, 0.966);
}

.footer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: linear-gradient(15deg, rgb(85, 42, 42), #F25292, #FEA096);
}

#foter {
    list-style-type: none;
    align-content: center;
}

/** media queries */
@media (max-width:1030px) {
    body {
        font-size: 90%;
    }

    .btn1 {
        font-size: 80%;
    }

    .menuitem4-i img {
        width: 60%;
    }

    .menuitem5 {
        flex-direction: column;
    }

    .buy2 {
        order: 1;
    }

    .buy1 {
        order: 2;
    }

    .menuitem4-i {
        color: whitesmoke
    }
}

@media (max-width:830px) {
    body {
        font-size: 70%;
    }

    .menuitem4-i img {
        width: 50%;
    }

    .btn1 {
        font-size: 60%;
    }
}

@media (max-width:730px) {
    body {
        font-size: 70%;
    }

    .btn1 {
        font-size: 70%;
    }

    .menuitem5 {
        flex-direction: column;
    }

    .menuitem4-i img {
        width: 50%;
    }
}

@media (max-width:500px) {
    body {
        font-size: 50%;
    }

    .btn1 {
        font-size: 50%;
    }
}