* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    background-color: darkslateblue;
    list-style: none;
}

.navici {
    width: 30%;
    transition: transform 2s;
}

.navici:hover {
    transform: scale(1.1);
}

.btn {
    border-radius: 20%;
    margin: 10px;
    width: 100%;
}

.btn1 {
    color: crimson;
    transition: backround-color 5s, color 1s,;
}

.btn1:hover {
    background-color: transparent;
    color: #5f3b3b;
}

.menu {
    background-color: rgb(226, 183, 118);
    display: flex;
    padding: 1%;
    width: 100%;
    height: 3000px;
    justify-content: start;
    align-content: start;
    flex-wrap: wrap;

}

.menuitem1 {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    padding: 3%;
    width: 33%;
    text-align: center;
}


.menuitem2 {
    width: calc(100% - 33%);
}

.menuitem2 img {
    position: relative;
    width: 100%;
    animation-name: vicecity;
    animation-duration: 1s;
    animation-direction: alternate;
    transition-timing-function: ease-out;
}

@keyframes vicecity {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

.menuitem3 {
    padding: 15px;
    width: 100%;
}

.menuitem3 img {
    position: relative;
    width: 75%;
    animation-name: vicecity2;
    animation-duration: 1s;
    animation-direction: alternate;
    transition-timing-function: ease-out;
    display: flex;
    left: 12.5%;
    align-content: center;
    justify-content: center;
}

@keyframes vicecity2 {
    from {
        left: -100%;
    }

    to {
        left: 12.5%;
    }
}

@keyframes rotate {
    from {
      transform: rotate(-5deg); /* Başlangıç açısı: 0 derece */
    }
    to {
      transform: rotate(5deg); /* Bitiş açısı: 360 derece (bir tur) */
    }
  }


.menuitem4 {
    background-image:url(https://cdn2.unrealengine.com/egs-grandtheftautovicecitythedefinitiveedition-rockstargames-g1a-00-1920x1080-a93053f8548a.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-color: chocolate;
    align-items: center;
    justify-content: space-evenly;
}

/* alt tabaka */
.menuitem4-i {
    display: flex;
    width: 50%;
    padding: 2%;
    margin: 1%;
    align-items: center;
    animation: rotate 7s infinite;
    animation-direction: alternate;
}

.menuitem4-i:hover {
    scale: 1.2;
}


/** buy menu */
.menuitem5 {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}
.buy1 {
    width: 44%;
    order: 1;
}

.buy2 {
    padding: 5%;
    width: calc(100% - 44%);
    order: 2;
}

#buy2img {
    width: 100%;
}

#pegi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

#pegi18 {
    width: 15%;
}






















@media (max-width:1030px) {
    body {
        font-size: 90%;
    }

    .btn1 {
        font-size: 80%;
    }
    .menuitem5 {
        flex-direction: column;
    }
    .buy2 {
        order: 1;
    }
    .buy1 {
        order: 2;
    }
}